<html class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guestbook | Error</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body class="h-full">
    <main class="relative isolate min-h-full">
      <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
        <p class="text-base font-semibold leading-8 text-white">{{ .StatusCode }}</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">{{ .StatusMessage }}</h1>
        <div class="mt-10 flex justify-center">
          <a href="/" class="text-sm font-semibold leading-7 text-white"><span aria-hidden="true">&larr;</span> Back to home</a>
        </div>
      </div>
    </main>
  </body>
</html>
